body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.img-background {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}
#vraag {
    margin-top: 20px;
    font-size: 1.2em;
}
#resultaten {
    text-align: center;
    font-size: medium;
}
#a1G, #a2G, #a3G, #a4G, #a5G, #a6G, #a7G, #a8G, #a9G, #a10G, #a11G, #a12G, #a13G, #a14G, #a15G {
    color: #4CAF50;
    font-size: medium;
}
#a1F, #a2F, #a3F, #a4F, #a5F, #a6F, #a7F, #a8F, #a9F, #a10F, #a11F, #a12F, #a13F, #a14F, #a15F {
    color: #ED1818;
    font-size: medium;
}
#resetButton {
    display: none;
}
form {
    margin: 0 auto;
    width: 600px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
}
input[type="radio"] {
    margin-right: 10px;
}
input[type="button"] {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #ED1818;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
input[type="button"]:hover {
    background-color: #C8BFBF;
    transition: 0.3s;
}
  